.card {
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    display: flex;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.card:nth-of-type(1) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card:nth-last-of-type(1) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.card > .delete {
    content: "x";
    margin-left: auto;
    font-family: monospace;
    cursor: pointer;
    height: 44px;
    width: 44px;
    border: none;
    background: rgba(255, 0, 0, 0.1);
    border-radius: 50%;
    color: red;
}

.status {
    margin-right: 0.5rem;
}

.text {
    font-family: monospace;
    padding: 1rem;
    width: 90%;
    font-size: 1.25rem;
    border: none;
    cursor: default;
}

.text-done {
    color: rgba(0, 0, 0, 0.45);
    text-decoration: line-through;
}